<table class="table table-striped">
  <thead>
    <tr>
      <th>[Ingress] IP Ranges</th>
      <th>Security Groups</th>
      <th>Port Range</th>
      <th>Protocol</th>
      <th>Relevant?</th>
    </tr>
  </thead>
  <% sg.ingress_ip_permissions.each do |p| %>
    <tr>
      <td><%=p.ip_ranges.join(', ')%></td>
      <td><%=p.groups.map{ |sg| sg.name }.join(' ,')%></td>
      <td><%=p.port_range%></td>
      <td><%=p.protocol%></td>
      <td>
        <% @valid=false%>
        <% p.ip_ranges.each do |cidr| %>
          <% @valid = @valid|cidr_contains(cidr,request.remote_ip) %>
        <% end %>
        <%if @valid %>
          <i class="icon-ok-sign" style="color: green; font-size: 18pt;"></i>
        <% else %>
          <i class="icon-remove-sign" style="color: red; font-size: 18pt;"></i>
        <% end %>
    </td>
    </tr>
  <% end %>
</table>

<table class="table table-striped">
  <thead>
    <tr>
      <th>[Egress] IP Ranges</th>
      <th>Security Groups</th>
      <th>Port Range</th>
      <th>Protocol</th>
      <th>Relevant?</th>
    </tr>
  </thead>
  <% sg.egress_ip_permissions.each do |p| %>
    <tr>
      <td><%=p.ip_ranges%></td>
      <td><%=p.groups%></td>
      <td><%=p.port_range%></td>
      <td><%=p.protocol%></td>
      <td>
        <% p.ip_ranges.each do |cidr| %>
          <% @valid = @valid&cidr_contains(cidr,request.remote_ip) %>
        <% end %>
        <%= @valid ? "green" : "red"  %>
    </td> 
    </tr>
  <% end %>
</table>