<div class="page-header">
	<h1><%= @instance.tags['Name'].to_s != "" ? @instance.tags['Name'] : @instance.id %></h1>
</div>

  <div class="span9">
    <h3> Security Groups </h3>
    <% @instance.security_groups.each do |sg| %>
        <div class="panel-group" id="accordion">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse<%= sg.name %>">
                  <%= sg.name %>
                  <%= link_to "Create Reservation", new_aws_account_reservation_path(:aws_account_id=>params[:id],:instance_id=>@instance.id,:region_id=>params[:region_id], :sg_id=>sg.id), :class => 'btn-mini btn-primary' %>
                </a>
              </h4>
            </div>
            <div id="collapse<%=sg.name%>" class="panel-collapse collapse in">
              <div class="panel-body">
                  <%= render :partial=>"sg", :object=>sg %>
              </div>
            </div>
          </div>
        </div>
    <% end %>
  </div>