<div class="page-header">
	<h1><%= @instance.tags['Name'].to_s != "" ? @instance.tags['Name'] : @instance.id %></h1>
</div>

  <div class="span9">
    <h3>Reservations</h3>  

  <% if @instance.vpc_id == nil %>
    Only instances that are within a VPC can have reservations.
  <% else %>
    <%= link_to "Create Reservation",
              new_aws_account_reservation_path(:aws_account_id=>params[:id],:instance_id=>@instance.id,:region_id=>params[:region_id]),
              :class => 'btn btn-primary' %>

      <% if @reservations.count!=0 %>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>[Reservation <%= @reservations.count%>] IP Ranges</th>
              <th>Port Range</th>
              <th>Protocol</th>
              <th>Relevant?</th>
            </tr>
          </thead>
          <% @reservations.each do |reservation| %>
            <tr>
              <td><%=reservation.ip_address+"/32"%></td>
              <td><%=reservation.start_port%></td>
              <td><%=reservation.end_port%></td>
              <td>
                <% @valid = @valid|cidr_contains(reservation.ip_address+"/32",request.remote_ip) %>
                <%if @valid %>
                  <i class="icon-ok-sign" style="color: green; font-size: 18pt;"></i>
                <% else %>
                  <i class="icon-remove-sign" style="color: red; font-size: 18pt;"></i>
                <% end %>
            </td>
            </tr>
          <%end%>
        </table>
      <% end %>
    <% end %>
  </div>

  <div class="span9">
    <h3> Security Groups </h3>
    <% @instance.security_groups.each do |sg| %>
        <div class="panel-group" id="accordion">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                  <%= sg.name %>
                </a>
              </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse">
              <div class="panel-body">
                  <%= render :partial=>"sg", :object=>sg %>
              </div>
            </div>
          </div>
        </div>
    <% end %>
  </div>