<%- model_class = AwsAccount -%>
<div class="page-header">
  <h1><%=t '.title', :default => @aws_account.name.titleize %></h1>
  <form class='form-inline' method='get'>
    <select name='region' onchange='this.form.submit()'>
      <% @regions.each do |r| %>
        <option value='<%=r.name%>' <%= 'Selected' if r.name == params[:region]%> ><%=r.name%></option>
      <% end %>
    </select>
  </form>
</div>

<% if params[:region] == nil %>
  <h3>Region not selected</h3>
<% else %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Instance ID</th>
        <th>Name</th>
      </tr>
    </thead>
    <tbody>
        <% @instances.each do |instance| %>
          <tr>
            <td><%= link_to instance.id, aws_account_instance_path(:aws_account_id=>@aws_account.id,:region_id=>params[:region], :id=>instance.id) %></td>
            <td><%#= instance.tags['Name'] %></td>
          </tr>
        <% end %>
    </tbody>
  </table>
<% end %>
  