<%- model_class = AwsAccount -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:account_id) %>:</strong></dt>
  <dd><%= @aws_account.account_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @aws_account.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:access_key) %>:</strong></dt>
  <dd><%= @aws_account.access_key %></dd>
  <dt><strong><%= model_class.human_attribute_name(:secret_key) %>:</strong></dt>
  <dd><%= @aws_account.secret_key %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              aws_accounts_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_aws_account_path(@aws_account), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              aws_account_path(@aws_account),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
