<%- model_class = AwsAccount -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>IP Address</th>
      <th>Port Range</th>
      <th>Created At</th>
      <th>Deleted At</th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @reservations.each do |reservation| %>
      <tr>
        <td><%= link_to reservation.id , reservation_path(reservation.id) %></td>
        <td><%= reservation.ip_address %></td>
        <td><%= reservation.end_port != nil ? reservation.start_port..reservation.end_port : reservation.start_port %></td>
        <td><%= reservation.end_time %></td>
        <td><%= reservation.deleted_time %></td>
        <td>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      reservation_path(reservation),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_aws_account_path,
            :class => 'btn btn-primary' %>
